/AllySpeaks.txt
/AndyBassTestFile.txt
/BaftaControl.txt
/Baywatch.txt
/BeginLand2.txt
/BeginLand4.txt
/BeginLand5.txt
/BigFish.txt
/BlackCloudTest.txt
/BlindWoman.txt
/Bowling.txt
/BugFlock.txt
/Caretaker.txt
/ChallengeNotify.txt
/ChimpPosse.txt
/ChooseYourCreature.txt
/CitadelGuide.txt
/CitadelHelp.txt
/ControlNemesisBattleStrategy.txt
/CowBowling.txt
/CreateCitadelLand2.txt
/CreatureBreeder.txt
/CreatureChallenge1.txt
/CreatureChooseTest.txt
/CreatureCurse.txt
/CreatureDevAngry.txt
/CreatureDevExplainsPast.txt
/CreatureDevFriendsWithGuide.txt
/CreatureDevGuideTeachesAng_.txt
/CreatureDevGuideTeachesFig_.txt
/CreatureDevHelpTown.txt
/CreatureDevImpressTown.txt
/CreatureDevLearnToEat.txt
/CreatureDevLearnToPlay.txt
/CreatureDevLearnToPoo.txt
/CreatureDevLeashAttachToHo_.txt
/CreatureDevLeashAttachToVi_.txt
/CreatureDevLeashDrink.txt
/CreatureDevLeashGoodAndEvil.txt
/CreatureDevLeashIntro.txt
/CreatureDevLeashPickup.txt
/CreatureDevLeashPoo.txt
/CreatureDevLeashPull.txt
/CreatureDevLeashToObject.txt
/CreatureDevMeetGuide.txt
/CreatureDevSeeHome.txt
/CreatureDevTeachesSpells.txt
/CreatureDevThirsty.txt
/CreatureDevelopment.txt
/CreatureGuardian.txt
/CreatureGuide.txt
/CreatureHelp.txt
/CreatureLadder.txt
/CreatureMeetGuide.txt
/CreatureMirrorFight.txt
/CreatureRetrieve.txt
/CreatureRunsAmok.txt
/CreatureSavingPeople.txt
/CreatureTest.txt
/CreatureTestAnim.txt
/Crusaders.txt
/CupFinal.txt
/DidYouKnow.txt
/FinalCreatureSequence.txt
/FinalGoldScroll.txt
/FireOnHigh.txt
/FishPuzzle.txt
/FollowUs.txt
/FollowUsKM.txt
/FoodForThought.txt
/FoodStoreTest.txt
/FreeFall.txt
/FreeTheCreature.txt
/GameOver.txt
/GetThroughVortexL2.txt
/GlobalChallenges.txt
/GotoLand1.txt
/GotoLand2.txt
/GotoLand3.txt
/GotoLand4.txt
/GotoLand5.txt
/GreedyFarmer.txt
/HandDemos.txt
/HanoiFlood.txt
/Headers.txt
/HelloWorld.txt
/HelpSystem.txt
/IdolPyre.txt
/InterestNotify.txt
/JapaneseTraitor.txt
/KillKhazar.txt
/Land1Challenges.txt
/Land2Challenges.txt
/Land2ComputerAI.txt
/Land2FireballChallenge.txt
/Land2ShieldChallenge.txt
/Land3Challenges.txt
/Land4Challenges.txt
/Land4Meteorites.txt
/Land4Ogre.txt
/Land5Challenges.txt
/LandControl1-steve.txt
/LandControl1.txt
/LandControl2.txt
/LandControl3.txt
/LandControl4.txt
/LandControl5.txt
/LandControlAll.txt
/LandControlT.txt
/LandTChallenges.txt
/Landslide.txt
/LearnGestures.txt
/LearnInfluence.txt
/LearnWorshipping.txt
/LeaveThroughVortexL1.txt
/LeaveThroughVortexL2.txt
/LeaveThroughVortexL3.txt
/LeaveThroughVortexL4.txt
/LethysSpeaks.txt
/LethysVortex.txt
/LionPuzzle.txt
/LostBrother.txt
/LostTreasure.txt
/MagicMushroom.txt
/MakeBall.txt
/Marauder.txt
/MissionariesReturned.txt
/MoreSingingStones.txt
/NemesisSpeaks1.txt
/NemesisSpeaks2.txt
/PiedPiper.txt
/Plague.txt
/PlayerComputerStrings.txt
/PlayerComputerStringsHelp.txt
/ProtectGateKeys.txt
/PuzzleChess.txt
/PuzzleFishes1.txt
/PuzzleHanoi.txt
/PuzzleImmersion1.txt
/PuzzleImmersion2.txt
/PuzzleLionsheep.txt
/PuzzleThesius1.txt
/PuzzleThesius2.txt
/PuzzleTilt1.txt
/PuzzleTilt2.txt
/PuzzleTotem1.txt
/PuzzleTotem2.txt
/PuzzleTotem3.txt
/PuzzleTotem4.txt
/PuzzleTrees1.txt
/PuzzleTrees2.txt
/QuestList.lst
/Quests.dsp
/Quests.htm
/RaidingLions.txt
/RebuildVillage.txt
/ReleaseTheCreature.txt
/Reward.txt
/RunActuallyCreatureFreed.txt
/RunAllySpeaks.txt
/RunBaywatch.txt
/RunBeginLand2.txt
/RunBeginLand4.txt
/RunBeginLand5.txt
/RunBigFish.txt
/RunBlindWoman.txt
/RunBuildCitadel.txt
/RunChimpPosse.txt
/RunChooseYourCreature.txt
/RunCitadelGuide.txt
/RunCreatureBreeder.txt
/RunCreatureBreederLand2.txt
/RunCreatureBreederLand4.txt
/RunCreatureBreederLand5.txt
/RunCreatureDevelopment.txt
/RunCreatureGetsCreed.txt
/RunCreatureGuardian.txt
/RunCreatureGuide.txt
/RunCreatureMirrorFight.txt
/RunCreatureRetrieve.txt
/RunCreatureRunsAmok.txt
/RunCreatureSavingPeople.txt
/RunCreaturesInGlade.txt
/RunCrusaders.txt
/RunCupFinal.txt
/RunExplainsHistory.txt
/RunFanaticAttack.txt
/RunFinalCreatureSequence.txt
/RunFinalGoldScroll.txt
/RunFireBallChallenge.txt
/RunFireOnHigh.txt
/RunFishPuzzle.txt
/RunFollowUs.txt
/RunFollowUsGotOut.txt
/RunFoodForThought.txt
/RunGameOver.txt
/RunGetThroughVortexL2.txt
/RunGotHealSpell.txt
/RunGreedyFarmer.txt
/RunHandDemos.txt
/RunHanoiFlood.txt
/RunIdolPyre.txt
/RunJapaneseTraitor.txt
/RunJonty.txt
/RunKillKhazar.txt
/RunLand4Meteorites.txt
/RunLand4Nomad.txt
/RunLand4Ogre.txt
/RunLandControl1.txt
/RunLandControl2.txt
/RunLandControl3.txt
/RunLandControl4.txt
/RunLandControl5.txt
/RunLandControlT.txt
/RunLandslide.txt
/RunLearnGestures.txt
/RunLearnInfluence.txt
/RunLearnWorshipping.txt
/RunLeaveThroughVortexL1.txt
/RunLeaveThroughVortexL2.txt
/RunLeaveThroughVortexL3.txt
/RunLeaveThroughVortexL4.txt
/RunLethysAI.txt
/RunLethysSpeaks.txt
/RunLethysVortex.txt
/RunLionPuzzle.txt
/RunLostBrother.txt
/RunLostTreasure.txt
/RunMagicMushroom.txt
/RunMarauder.txt
/RunMissionariesReturned.txt
/RunMoreSingingStones.txt
/RunNemesisSpeaks1.txt
/RunNemesisSpeaks2.txt
/RunPiedPiper.txt
/RunPlague.txt
/RunPuzzleMaster.txt
/RunRace.txt
/RunRaidingLions.txt
/RunRebuildVillage.txt
/RunReleaseTheCreature.txt
/RunSacrifice.txt
/RunShaolin.txt
/RunShieldChallenge.txt
/RunSimonSays.txt
/RunSingingStoneCircle.txt
/RunSingingStonesA.txt
/RunSingingStonesC.txt
/RunSingingStonesSongs.txt
/RunSpiritualHealer.txt
/RunSpittingTotem.txt
/RunStormBrewing.txt
/RunSwapToApe.txt
/RunSwapToBrownBear.txt
/RunSwapToCow.txt
/RunSwapToHorse.txt
/RunSwapToLeopard.txt
/RunSwapToLion.txt
/RunSwapToTurtle.txt
/RunSwapToWolf.txt
/RunTakeCreed1.txt
/RunTakeOverAztecVillage.txt
/RunTakeOverNemesisVillageL5.txt
/RunTakeOverNeutralVillage.txt
/RunTakeOverVillagesL3.txt
/RunTakeOverVillagesL4.txt
/RunTakeOverVillagesL5.txt
/RunTheBigFight.txt
/RunTheHermit.txt
/RunTheLostFlock.txt
/RunTheMeeting.txt
/RunTheMissionaries.asp
/RunTheMissionaries.txt
/RunTheSculptor.txt
/RunTheSlavers.txt
/RunTheStorm.txt
/RunTheWorkshop.txt
/RunThesiusPuzzleLand4.txt
/RunThrowBloke.txt
/RunThrowThroughShield.txt
/RunThrowTroughShield.txt
/RunThrowingStones.txt
/RunTreePuzzleOne.txt
/RunTreePuzzleTwo.txt
/RunUndeadVillage.txt
/RunVillagerCatch.txt
/RunVillagerWavingSequence.txt
/RunVolcano.txt
/RunVortexEntry.txt
/RunWhackAVillager.txt
/RussYourCreature.txt
/Sacrifice.txt
/SaveYourCreature.txt
/SeeTheCitadel.txt
/SetupComputerCreatures.txt
/SetupLand1.txt
/SetupLand2.txt
/SetupLand3.txt
/SetupLand4.txt
/SetupLand5.txt
/Shaolin.txt
/SingingStoneCircle.txt
/SingingStonesSongs.txt
/SlaversWarning.txt
/SpellChargeGuide.txt
/SpiritualHealer.txt
/SpittingTotem.txt
/StandardReminder.txt
/StartAll.txt
/StormBrewing.txt
/SwapCreatures.txt
/SwapToApe.txt
/SwapToBrownBear.txt
/SwapToCow.txt
/SwapToHorse.txt
/SwapToLeopard.txt
/SwapToLion.txt
/SwapToSheep.txt
/SwapToTurtle.txt
/SwapToWolf.txt
/TakeCreed1.txt
/TakeOverAztecVillage.txt
/TakeOverLethysVillage.txt
/TakeOverNemesisVillageL5.txt
/TakeOverNeutralVillage.txt
/TakeOverVillagesL1.txt
/TakeOverVillagesL3.txt
/TakeOverVillagesL4.txt
/TakeOverVillagesL5.txt
/TellAboutStoragePit.txt
/TestDidYouKnow.txt
/TestScrap.txt
/TheBigFight.txt
/TheHermit.txt
/TheLostFlock.txt
/TheMeeting.txt
/TheMissionaries.txt
/TheSculptor.txt
/TheSlavers.txt
/TheStorm.txt
/TheWorkshop.txt
/ThesiusPuzzleLand4.txt
/ThrowBloke.txt
/ThrowIt.txt
/ThrowThroughShield.txt
/ThrowingStones.txt
/TotemGuide.txt
/TreePuzzleOne.txt
/TreePuzzleTwo.txt
/VillagerCatch.txt
/VillagerWavingSequence.txt
/Volcano.txt
/VortexEntry.txt
/WaterSeedAwareness.txt
/WhackAVillager.txt
/XmenuExtraChallenges.txt
/challenge.chl
/displayrewardhelp.txt
/george_test.txt
/rewardfromsky.txt
/rewardnosky.txt
/_challenge.asm
/_challenge.chl
